#!/bin/sh

printf "\n"
printf "  kubernetes"
printf "\n\n"
printf "  systemd:  /etc/systemd/system/k3.service\n"
printf "  unattended-upgrade logs: /var/log/unattended-upgrades/unattended-upgrades.log
printf "\n"
