# overclock CPU and GPU
over_voltage=6
arm_freq=2000
gpu_freq=750

# speed up boot time
boot_delay=0
dtoverlay=disable-bt
disable_splash=1

# Overclock the SD Card from 50 to 100MHz
# This can only be done with at least a UHS Class 1 card
#dtoverlay=sdtweak,overclock_50=100
