[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s agent \
    --server https://{{ master_ip }}:6443 \
    --token-file /var/lib/rancher/k3s/agent/agent-token \
    --data-dir /var/lib/rancher/k3s \
    --kubelet-arg=image-gc-high-threshold=70 \
    --kubelet-arg=image-gc-low-threshold=50 \
    --kubelet-arg=container-log-max-files=5 \
    --kubelet-arg=container-log-max-size=10Mi \
    --kubelet-arg=runtime-request-timeout=10m0s
KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
