---

- hosts: cluster
  gather_facts: yes
  become: yes
  handlers:
    - import_tasks: handlers/main.yml
  roles:
    - role: sys
    # note: tried this and had some stability problems, leaving it here commented out for history
    #- role: chzerv.log2ram 
    - role: k3s/common

- hosts: master
  gather_facts: yes #need to gather facts on this one to pass it to the node role
  become: yes
  handlers:
  - import_tasks: handlers/main.yml
  roles:
    - role: k3s/master

- hosts: node
  gather_facts: no
  become: yes
  handlers:
  - import_tasks: handlers/main.yml
  roles:
    - role: k3s/node
