---
- name: Enable cgroups via boot commandline
  tags: [ sys-reboot ]
  lineinfile:
    path: /boot/cmdline.txt
    backrefs: yes
    regexp: '^((?!.*\bcgroup_enable=cpuset cgroup_memory=1 cgroup_enable=memory\b).*)$'
    line: '\1 cgroup_enable=cpuset cgroup_memory=1 cgroup_enable=memory'
  notify: reboot

- name: Set sysctl values
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: "{{ item.state | default('present') }}"
    reload: "{{ item.reload | default('yes') }}"
  loop:
    - {name: net.ipv4.ip_forward, value: "1"}
    - {name: net.ipv6.conf.all.forwarding, value: "1"}
    - {name: vm.max_map_count, value: "262144"}
    # SD card write reduction: batch dirty pages into fewer, larger flushes
    - {name: vm.dirty_background_ratio, value: "5"}
    - {name: vm.dirty_ratio, value: "60"}
    - {name: vm.dirty_writeback_centisecs, value: "6000"}
    - {name: vm.dirty_expire_centisecs, value: "6000"}
    # prefer keeping dentry/inode caches over reclaiming them (reduces SD reads)
    - {name: vm.vfs_cache_pressure, value: "50"}
    # k3s and containerd consume inotify watches heavily; defaults are too low
    - {name: fs.inotify.max_user_watches, value: "524288"}
    - {name: fs.inotify.max_user_instances, value: "1024"}

- name: Create .kube directory
  file:
    path: ~{{ ansible_user }}/.kube
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "u=rwx,g=rx,o="

- name: ensures dirs exist
  file: 
    path: "{{ item}}"
    state: directory
    owner: root
    group: root
  loop:
    - /var/lib/rancher
    - /var/lib/rancher/k3s
    - /var/lib/rancher/k3s/agent
    - /var/lib/rancher/k3s/server
    - /etc/rancher
    - /etc/rancher/k3s

- name: Download k3s {{ k3s_version }} binary arm64
  tags: [ slow, k3s-reboot ]
  get_url:
    url: https://github.com/k3s-io/k3s/releases/download/{{ k3s_version }}/k3s-arm64
    checksum: sha256:https://github.com/k3s-io/k3s/releases/download/{{ k3s_version }}/sha256sum-arm64.txt
    dest: /usr/local/bin/k3s
    owner: root
    group: root
    mode: 0755
  notify: restart-k3s

- name: Deploy systemd unit files
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
  notify: reload-systemd
  loop:
    - { src: cgroup-kill-on-shutdown@.service, dest: /etc/systemd/system/cgroup-kill-on-shutdown@.service }
    - { src: k3s-logs-cleanup.conf, dest: /etc/tmpfiles.d/k3s-logs-cleanup.conf }

- name: Deploy config files, scripts, etc
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
  loop:
    - { src: registries.yaml, dest: /etc/rancher/k3s/registries.yaml }

- name: Create symlinks
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
  loop:
    - { src: /usr/local/bin/k3s, dest: /usr/local/bin/kubectl }
    - { src: /usr/local/bin/k3s, dest: /usr/local/bin/crictl }

- name: Manage systemd services
  tags: [ slow ]
  ansible.builtin.service:
    name: cgroup-kill-on-shutdown@k3s.service.service
    state: reloaded
    enabled: true
    masked: false
